<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div id="wrapper">
      {{- partial "header.html" . -}}
      {{- block "main" . }}{{- end }}
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
