{{ define "main" }}
  <section>
    <h2>{{ .Title }}</h2>
    {{ with .Content }}
      {{ . }}
    {{ end }}
    <ul>
      {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
