{{ define "main" }}
  <section>
    <h1 class="post-title">
      {{ .Title | markdownify }}
    </h1>
    <div class="post-content">
      {{- with .Content -}}
        <div>
          {{ . }}
        </div>
      {{- end -}}
    </div>
  </section>
{{ end }}
