@font-face {
    font-family: "Grundschrift";
    src: url("fonts/GrundschriftRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Now";
    src: url("fonts/NowRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

