* {
    box-sizing: border-box;
}
html {
    font-family: "Now", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: x-large;
}
a {
    text-decoration: none;
    color: orange;
}
a.exposed {
    font-weight: bold;
    font-size: 1.3em;
}
a:visited {
    color: brown;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    @media (min-width: 1200px) {
        flex-flow: column-reverse;
    }
}

.wrapper {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    @media (min-width: 1200px) {
        height: 100vh;
        flex-flow: row wrap;
        justify-content: center;
        align-items: baseline;
        padding: 3rem;
    }
}
.wrapper > * {
    @media (min-width: 1200px) {
        flex: 1 1 20rem;
    }
}
.wrapper > section {
    flex-grow: 10;
    padding: 0 1rem;
    @media (min-width: 1200px) {
    }
}

header {
    text-align: center;
    padding: 0 1rem;
    h1 {
        font: 2.5em 'Grundschrift', "Times New Roman", Times, serif;
        margin: 0;
        @media (min-width: 1200px) {
            font-size: 3em;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    @media (min-width: 1200px) {
        text-align: right;
        margin-top: 35vh;
    }
}

.path {
    display: inline;
}

