* {
    box-sizing: border-box;
}
html {
    font-family: "Now", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: x-large;
}
a {
    text-decoration: none;
    color: orange;
}
a.exposed {
    font-weight: bold;
    font-size: 1.3em;
}
a:visited {
    color: brown;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

#wrapper {
    display: flex;
    flex-flow: column;
    padding: 1rem;
}
#wrapper > section {
    flex-grow: 10;
    padding: 0 1rem;
}

header {
    text-align: center;
    padding: 0 1rem;
}
header h1 {
    font: 2.5em 'Grundschrift', "Times New Roman", Times, serif;
    margin: 0;
}
header ul {
    list-style: none;
    padding-left: 0;
}

.path {
    display: inline;
}

@media (min-width: 1200px) {
    body {
        flex-flow: column-reverse;
    }
    #wrapper {
        height: 100vh;
        flex-flow: row wrap;
        justify-content: center;
        align-items: baseline;
        padding: 3rem;
    }
    #wrapper > * {
        flex: 1 1 20rem;
    }
    header {
        text-align: right;
        margin-top: 35vh;
    }
    header h1 {
        font-size: 3em;
    }
}
