<head>
  <meta charset="UTF-8" />
  <title>{{ $.Site.Title }}</title>
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
  >
  {{ $style := resources.Get "css/lean.css" }}
  <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />
  {{ $fontstyle := resources.Get "css/fonts.css" }}
  <link rel="stylesheet" type="text/css" href="{{ $fontstyle.Permalink }}" />
</head>
