{{ $currentPage := . }}
<header>
  <h1>
    <a href="{{ $.Site.BaseURL }}">{{ .Site.Title }}</a>
  </h1>
  {{ with $.Site.Params.Description }}
    {{ . }}
  {{ end }}
  <ul class="links">
    {{ range $.Site.Sections }}
      <li class="link">
        <a href="{{ .Permalink }}" class="{{ if eq $currentPage.Section .Section }}exposed{{ end }}">
          {{ .Title | markdownify }} >
        </a>
      </li>
    {{ end }}
  </ul>
</header>

